.cardTitle {
  margin-bottom: 10px;
  color: white;
}

.el-col {
  margin-bottom: 20px;
}

.cardList {
  @include resetList;
  display: flex;
  flex-wrap: wrap;
  margin-left: -9px;
  margin-right: -9px;
  > li {
    width: 25%;
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 18px;
  }
}

.titleBox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  color: white;
  .rightBox {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.el-select-dropdown__list {
  border: solid 1px white;
}
.selectSort::v-deep {
  margin-right: 5px;
  .el-input__inner {
    border-color: white;
  }
  .el-select__caret {
    color: white;
    &::before {
      content: "\e78f";
    }
  }
  .el-input {
    color: white;
    &::before {
      content: "\e6d2";
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      font-family: element-icons;
      display: none;
    }
    &.is-reverse {
      transform: rotateZ(180deg);
    }
  }
  .el-input__inner {
    padding-left: 25px;
  }
}
.searchNoData {
  margin-top: 10px;
  display: flex;
}
.searchTitle {
  display: flex;
  margin-right: 10px;
}
.buttonGroup {
  display: flex;
  margin-left: 5px;
  .buttonSort {
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
    &:not(:first-child) {
      border-left: none;
    }
  }
}

.buttonSort {
  color: white;
  @include resetButton;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  &.asc {
    svg {
      transform: rotate(180deg);
    }
  }
}

.searchBox::v-deep {
  position: relative;
  margin-left: 10px;
  .buttonSearch {
    @include resetButton;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 40px;
    height: 40px;
  }
  .el-input__inner {
    padding-left: 35px;
    border-color: white;
  }
}
.searchItem {
  margin-left: 10px;
}
