header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 30;
	width: 100%;
    background-color: #fff;
	.topBox {
		display: flex;
		align-items: center;
		width: 100%;
		height: 45px;
		background-color: #ccc;
		.wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-left: 25px;
			padding-right: 25px;
		}
        h1 {
            font-size: 18px;
            font-weight: 400;
            margin: 0;
        }
        .right {
            display: flex;
            align-items: center;
        }
        button {
            @include resetButton;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            margin-left: 10px;
            border-radius: 50%;
            border: 1px solid #797979;
            background-color: #fff;
        }
	}
    .bottomBox {
        padding-bottom: 20px;
        border-bottom: 1px solid #000;
    }
}

.buttonOpenTab {
    @include resetButton;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
    transition: all .5s ease-in-out;
    &.rotate {
        transform: rotate(180deg);
    }
}

.tabBox {
    width: 100%;
    border-bottom: 1px solid #000;
    .inner {
        position: relative;
        display: flex;
        margin-left: -7px;
        margin-right: -7px;
    }
    .tabItem {
        position: relative;
        cursor: pointer;
        padding-top: 13px;
        padding-bottom: 13px;
        margin-right: 7px;
        margin-left: 7px;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 0;
            height: 5px;
            background-color: #ccc;
            transition: all .5s ease-in-out;
        }
        &::after {
            content: '';
            position: absolute;
            right: -7px;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 15px;
            background-color: #000;
        }
        &:hover, &.current {
            &::before {
                width: 100%;
            }
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}

.tabContentBox {
    padding-top: 15px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    .tabContentTop {
        display: flex;
        margin-bottom: 10px;
        .title {
            margin-right: 10px;
        }
    }
    .tabContentItem {
        width: 100%;
        overflow-x: auto;
        .el-row {
            display: flex;
        }
        .el-col {
            flex-shrink: 0;
        }
    }
}

.updateBox {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #bcbcbc;
    overflow: hidden;
    .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .timeBar {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 5px;
        background-color: #bfbfbf;
        transition: all .5s ease-in-out;
    }
    .buttonUpdate {
        display: flex;
        align-items: center;
    }
    .buttonUpdate {
        @include resetButton;
        font-size: 13px;
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            border-radius: 50%;
            border: 1px solid #000;
            svg {
                width: 9px;
                height: 9px;
            }
        }
    }
    .right {
        display: flex;
    }
    .time {
        display: flex;
        font-size: 12px;
        letter-spacing: .05em;
        &:not(:last-child) {
            padding-right: 5px;
            margin-right: 5px;
            border-right: 1px solid #000;
        }
    }
    &.run {
        .timeBar {
            opacity: 1;
            animation: timeBar 10s linear both;
        }
    }
    &.pause {
        .timeBar {
            opacity: 0;
            animation-play-state: paused;
        }
    }
}

@keyframes timeBar {
    0% {
        // width: 100%;
        transform: translateX(0);
    }
    100% {
        // width: 0;
        transform: translateX(-100%);
    }
}

.highchartsBox {
    position: relative;
    width: 100%;
    height: 115px;
    z-index: 1;
    // padding-top: 25px;
    border: 1px solid #000;
    border-radius: 4px;
    overflow: hidden;
    &::v-deep .highcharts-title {
        width: 100%;
        left: 0 !important;
        top: 0 !important;
        z-index: -1;
        padding: 10px;
        .chartTitle {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
    // .title, .count {
    //     position: absolute;
    //     top: 8px;
    //     z-index: 1;
    // }
    // .title {
    //     left: 10px;
    //     font-size: 16px;
    // }
    // .count {
    //     right: 10px;
    //     font-size: 22px;
    // }
}

.headerQuantity {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 115px;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    .status {
        display: flex;
        align-items: center;
        height: 30px;
        margin-bottom: 5px;
        svg {
            width: 27px;
            height: 27px;
            margin-right: 6px;
        }
    }
    .count {
        font-size: 22px;
    }
}

.pinningDoDataBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    .svg-icon {
        width: 66px;
        height: 71px;
        margin-bottom: 15px;
        color: #aeaeae;
    }
    .text {
        color: #999;
    }
}